<div class="container m-5">
<h1>Identificate como Admin</h1>
<%= form_with model: @admin, url: admin_sesiones_create_url do |f| %>
<div class="mt-3">
<%= f.label :user %>
<%= f.text_field :user, required: true %>
</div>
<div class="mt-3">
<%= f.label :password %>
<%= f.password_field :password, required: true %>
</div>
<div class="mt-3">
<%= f.submit "Entrar", class: "btn btn-info" %>
</div>
<% end %> 
</div>