<p style="color: green"><%= notice %></p>

<%= render @artista %>

<div>
  <%= link_to "Edit this artista", edit_artista_path(@artista) %> |
  <%= link_to "Back to artista", artistas_path %>

  <%= button_to "Destroy this artista", @artista, method: :delete %>
</div>
