<div id="<%= dom_id pedido %>">
  <p>
    <strong>Codigo:</strong>
    <%= pedido.codigo %>
  </p>

  <p>
    <strong>Destino:</strong>
    <%= pedido.destino %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= pedido.total %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= pedido.cliente_id %>
  </p>

</div>
