<div id="<%= dom_id disco %>">
  <p>
    <strong>Nombre:</strong>
    <%= disco.nombre %>
  </p>

  <p>
    <strong>Artista:</strong>
    <%= disco.artista_id %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= disco.descripcion %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= disco.genero %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= disco.precio %>
  </p>

</div>
