<div id="<%= dom_id disco %>" class="card" >
  <%= image_tag "disco.png", class: "card-img-top" %>
  <div class="card-body">
    <a class="text-decoration-none" href="<%= disco_path(disco) %>"><h5 class="card-title text-truncate"><%= disco.nombre %></h5></a>
    <a class="text-decoration-none" href="<%= artista_path(disco.artista) %>"><h6 class="card-subtitle text-truncate"><%= disco.artista.nombre %></h6></a>
  </div>

</div>
