

<div class="container mb-5 mt-5 ">
  <div class="row">
    <div class="col-12 col-md-4">
      <%= image_tag "disco.png", class: "w-100" %>
    </div>
    <div class="col-12 col-md-8">
      <div class="ms-4 mt-2">
        <h2 class=""><%= @disco.nombre %></h2>
        <h3><a href="<%= artista_path(@disco.artista) %>" class="text-decoration-none "><%= @disco.artista.nombre %></a></h3>
      </div>
      <div class="mt-4 ms-4">
        <span class="badge bg-danger fs-6"><%= @disco.genero %></span>
        <span class="badge bg-info fs-6" ><%= @disco.fecha_lanzamiento.year %></span>
      </div>
      <div class="mt-3 ms-4 text-secondary">
        <% if @disco.descripcion.nil? || @disco.descripcion.blank? %>
        <p class="text-secondary">No hay descripcion</p>
        <% else %>
        <p class="fs-5"><%= @disco.descripcion %></p>
        <% end %>
      </div>
      <div class=" ms-4 mt-4">
        <ul class="list-group">
          <% @disco.canciones.each do |cancion| %>
            <li class="list-group-item d-flex align-items-center justify-content-between">
              <span><%= cancion.titulo %></span>
              <span><%= minutos_segundos(cancion.duracion) %></span>
            </li>
          <% end %>
        </ul>
      </div>
      
      <div class="mt-5 ms-4">
        <p class="fs-4 fw-bold"><%= @disco.precio %> €</p>
        <a class="btn btn-success" href="<%= carrito_agregar_path(@disco.id) %>">Añadir al carrito</a>
      </div>
      
    </div>

  </div>
</div>
