<div class="container m-5">
<h1>Lista de recursos</h1>
<ul class="mt-4">
    <li><a href="<%= admin_clientes_path %>">Clientes</a></li>
    <li><a href="<%= admin_artistas_path %>">Artistas</a></li>
    <li><a href="<%= admin_discos_path %>">Discos</a></li>
    <li><a href="<%= admin_canciones_path %>">Canciones</a></li>
    <li><a href="<%= admin_pedidos_path %>">Pedidos</a></li>
</ul>

</div>