
<div class="container d-grid gap-3 my-5 fs-4 border border-2 rounded rounded-2 p-3">
  <% if @carrito.empty? %>
    <div class="row">
      <div class="col-12 text-center p-5 text-secondary display-5">
        El carrito está vacio
      </div>
    </div>
  <% else %>


  

  <% @carrito.each do |disco, cantidad| %>
    <div class="row gx-3  py-3">
      <div class="col-1"><%= image_tag disco.portada.url, class: "w-100" %></div>
      <div class="col-3">
        <div>
          <a class="fs-5 text-decoration-none link-dark" href="<%= disco_path(disco) %>"><%= disco.nombre %></a>
        </div>
        <div>
          <a class="fs-6 text-decoration-none link-secondary" href="<%= artista_path(disco.artista) %>"><%= disco.artista.nombre %></a>
        </div>
      </div>
      <div class="col-1 ">
        <p class="fs-5"><%= cantidad %> <span class="text-secondary">uds.</span></p>
      </div>
      <div class="col-2 d-flex justify-content-between">
        <div>
            <a href="<%= carrito_menos_path(disco.id) %>" class="btn btn-warning">-</a>
            <a href="<%= carrito_mas_path(disco.id) %>" class="btn btn-primary">+</a>
        </div>
        <div><a href="<%= carrito_quitar_path(disco.id) %>" class="btn btn-danger">Quitar</a></div>
        
      </div>
      <div class="col-5">
        <p class="fs-4 text-end">
        <% if cantidad > 1 %>
                <span class="fs-6">(<%= disco.precio %> €/ud.)</span>
            <% end %>
            <%= disco.precio * cantidad %>€
        </p>
      </div>
      
    </div>
  <% end %>

  <div class="row">
    <div class="col-4 col-md-7"></div>
    <div class=" col-4 col-md-3 d-flex gap-2">
    <a href="<%= new_pedido_path %>" class="btn btn-success">Pagar</a>
    <!--<a href="<%= carrito_vaciar_path %>" class="btn btn-danger">Vaciar</a>-->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#vaciarModal">Vaciar</button>
    </div>
    <div class="col-4 col-md-2 text-end">
        Total <%= carrito_total(@carrito) %> €
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="vaciarModal" tabindex="-1" aria-labelledby="vaciarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Vaciar carrito</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body fs-5">
          Todos los elemenos del carrito se quitaran,<br> ¿vaciar el carrito?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <a href="<%= carrito_vaciar_path %>" class="btn btn-danger">Vaciar</a>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>