
<%= form_with url: "/registro",model: @cliente, class: "container d-flex flex-column border border-2 rounded rounded-3 mt-5 p-3 gap-3", html: { style: "max-width: 400px"} do |f| %>
<h1>Unete</h1>
<div>
<%= f.label :nombre %>
  <%= f.text_field :nombre, placeholder: "Nombre" %>
</div>

<div>
<%= f.label :email %>
  <%= f.email_field :email, placeholder: "Email" %>
</div>
  <div>
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "Contraseña" %>
  </div>
  
  <div>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, placeholder: "Repite la contraseña" %>
  </div>

  <div>
  <%= f.submit "Registrase", class: "btn-block btn-info" %>
  </div>

<% end %>