
<%= form_with url: "/registro",model: @cliente, class: "container d-flex flex-column border border-2 rounded rounded-3 mt-5 p-3 gap-3", html: { style: "max-width: 400px"} do |f| %>
<h1 class="text-center display-4">Unete</h1>
<div>
  <%= f.label :nombre, class: "form-label" %>
  <%= f.text_field :nombre, placeholder: "Nombre", class: "form-control", required: true %>
</div>

<div>
<%= f.label :email, class: "form-label" %>
  <%= f.email_field :email, placeholder: "Email", class: "form-control", required: true %>
</div>
  <div>
  <%= f.label :password, "Contraseña", class: "form-label" %>
  <%= f.password_field :password, placeholder: "Contraseña", class: "form-control", required: true %>
  <div class="form-text">
    <ul>
      <li>Más de 8 caracteres</li>
      <li>Al menos una letra minúscula</li>
      <li>Al menos una letra mayúscula</li>
      <li>Al menos un dígito</li>
      <li>Al menos un símbolo (e.g. $,%,#)</li>
    </ul>
  </div>
  </div>
  
  <div>
  <%= f.label :password_confirmation, "Repite la contraseña", class: "form-label" %>
  <%= f.password_field :password_confirmation, placeholder: "Repite la contraseña", class: "form-control", required: true %>
  </div>

  <div class="form-check">
    <%= f.check_box :terminos, placeholder: "Repite la contraseña", class: "form-check-input", required: true %>
    <%= f.label :terminos, "Acepto las condiciones de uso", class: "form-check-label" %>
  </div>

  <%= link_to "Ya soy cliente", sesion_url %>

  <div class="d-grid">
  <%= f.submit "Registrarse", class: "btn btn-info" %>
  </div>

<% end %>