<!DOCTYPE html>
<html>
  <head>
    <title>TiendaDiscos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
      <div class="container-fluid ">
        <div class="d-flex">
          <a href="/" class="navbar-brand" >Tienda Discos</a>
          <div class="navbar-nav ms-5">
            <a class="nav-link" href="<%= discos_path %>">Discos</a>
            <a class="nav-link" href="<%= artistas_path %>">Artistas</a>
          </div>
        </div>

        <div>
          <%= yield(:navsession) if content_for?(:navsession) %>
        </div>
      </div>
        
    </nav>
    <%= yield %>
  </body>
</html>
