<!DOCTYPE html>
<html>
  <head>
    <title>TiendaDiscos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="m-0 p-0 d-flex min-vh-100 flex-column justify-content-between">
  <% if notice %>
    <p class = "alert alert-success position-fixed start-50 translate-middle" style="top: 10%; z-index: 10000"><%= notice %></p>
  <% end %>
 <% if alert %>
    <p class = "alert alert-danger position-fixed start-50 translate-middle" style="top: 10%; z-index: 10000"><%= alert %></p>
  <% end %>
  
    <div>
      <nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
        <div class="container-fluid ">
          <div class="d-flex">
            <a href="/" class="navbar-brand" >Tienda Discos</a>
            <div class="navbar-nav ms-5">
              <a class="nav-link" href="<%= discos_path %>">Discos</a>
              <a class="nav-link" href="<%= artistas_path %>">Artistas</a>
            </div>
          </div>

          <div>
            <%= yield(:navsession) if content_for?(:navsession) %>
          </div>
        </div>
          
      </nav>
      <%= yield %>
    </div>
    
  <footer class="bg-dark m-0 mt-3 d-flex p-3 justify-content-around align-items-center">
    <h2 class="text-white">
      Tienda Discos
    </h2>
    <nav class="nav">
      <a href="#" class="nav-link link-info">Contáctanos</a>
      <a href="#" class="nav-link link-info">Sobre la tienda</a>
      <a href="#" class="nav-link link-info">FAQ</a>
    </nav>
    
  </footer>
</body>

  
</html>
